<footer class="footer bg-dark text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <h4>TeachToken</h4>
                <p>Empowering educators through blockchain technology</p>
                <div class="social-links">
                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-telegram"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-discord"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-medium"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#tokenomics">Tokenomics</a></li>
                    <li><a href="#architecture">Platform</a></li>
                    <li><a href="#presale">Presale</a></li>
                    <li><a href="#roadmap">Roadmap</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Resources</h5>
                <ul class="footer-links">
                    <li><a href="#">Whitepaper</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Audit Reports</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center mb-0">&copy; @DateTime.Now.Year TeachToken. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>